.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f9f9f9;
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.hero-column {
  color: black;
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
  text-align: left;
}

.hero-image {
  width: 100%;
  height: auto;
}
.signature-image {
  width: 25%;
  height: auto;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.hero em {
  font-style: italic;
}

.hero-button {
  padding: 0.75rem 1.5rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #45a049;
}

/* Responsive Design for Mobile View */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
  }
}