@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Garamond','Times New Roman', Times, serif;

    h2 {
        font-family: 'Times New Roman', Times, serif;
    }
}

body {
    background: linear-gradient(to bottom, #a5cbe0, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
    background-attachment: fixed;

}