.footer{
    background-color: #17243D;
    display: flex;
    flex-direction: column;
    padding: 24px 12px 0px 12px;
    position: absolute;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
}
.footer-social-lower{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 32px;
    gap: 4px;
    border-top: 1px solid #7C7C7C;
}
.footer-social-lower--icons{
    display: flex;
    flex-direction: row;
}
.footer-social-lower--branding{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-container{
    display: flex;
    flex-direction: row;    
}
.footer-left{
    width: 50%;
    padding: 8px 0px 8px 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer-name{
    padding: 8px;
}
.footer-name_text{
    width: 200px;
    height: auto;
    margin: 0 5px;
}
.footer-info{
    padding: 8px 0px 8px 28px;
    color: #DCDCDC;
}
.footer-right{
    width: 50%;
    padding: 8px 0px 8px 32px;
    display: flex;
    gap: 32px;
    align-items: stretch;
    justify-content: flex-end;
}
.footer-links{
    background: none;
    width: 120px;
    padding: 8px;
}
.title{
    padding: 8px;
    font-weight: bold;
    color: #DCDCDC;
}
.content{
    font-size: 1rem;
    padding: 16px 8px 8px 8px;
    font-weight: normal;
    color: #7C7C7C;
}
.nav-link {
    background-color: none;
}
.nav-link:hover{
    cursor: pointer;
}
.link{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 1rem;
    background: none;
    border: none;
    display: block;
    text-decoration: none;
    color: #7C7C7C;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
}
.footer-social{
    width: 120px;
    padding: 8px;
    margin-right: 32px;
}

.icon{
    color: #DCDCDC;
}

.incuantaq-logo {
    width: 100px;
    height: auto;
    margin: 0 5px;
}

@media (max-width: 500px) {
    .footer{
        padding: 0;
        margin: 0;
        gap: 0;
    }
    .footer-left{
        width: 100%;
        padding: 20px;
    }

    .footer-name{
        padding: 0;
    }
    .footer-info{
        padding-left: 30px;
    }
    
    .footer-container{
        flex-direction: column;
        align-items: center;
    }
    .content{
        padding-top: 0;
    }
    .footer-social--icons{
        justify-content: center;
    }
    
}