.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: black;
}
.modal-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    min-width: 340px;
}
.modal-image{
    max-width: 600px;
    max-height: auto;
    width: auto; 
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-image_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modal-info{
    width: 300px;
    max-width: 600px; 
    height: 200px;
    max-height: 90vh;
    margin-left: 1rem;
    padding: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.modal-artist{
    margin-bottom: 10px;
}
.modal-artist h2{
    font-size: 1.8rem;
    font-weight: 600;
}
.modal-artist h3{
    font-size: 1.4rem;
}
.modal-artist p{
    font-size: 1rem;
    opacity: 0.6;
}
.modal-description{
    margin-bottom: 10px;
}
.modal-buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

@media screen and (max-width: 768px) {
    .modal-content {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .modal-buy_text{
        display: none;
    }
    .modal-buy{
        margin-top: 12px;
        flex-direction: column;
    }
}